/* You can add global styles to this file, and also import other style files */
.configuration {
    padding:2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
  
  
  }
  
  .customizeInput {
      display : list-item;
  }